In [35]:
import pandas as pd
import altair as alt

# Read the dataset
url = 'https://raw.githubusercontent.com/yuwangy/Seoul_bike_rental_viz/main/SeoulBikeData.csv'
data = pd.read_csv(url, encoding='latin-1')
data.head()

# Add 'Month' as ordinal attribute
data['Date'] = pd.to_datetime(data['Date'], format='%d/%m/%Y')

# Create 'Month' column based on date
data['Month'] = data['Date'].dt.month

# Add 'Weekend' as nominal attribute, determine if the date is on a weekend 
data['Weekend'] = data['Date'].dt.dayofweek.apply(lambda x: 'Yes' if x >= 5 else 'No')

data.head(10)

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day,Month,Weekend
0,2017-12-01,254,0,-5.2,37,2.2,2000,-17.6,0.00,0.0,0.0,Winter,No Holiday,Yes,12,No
1,2017-12-01,204,1,-5.5,38,0.8,2000,-17.6,0.00,0.0,0.0,Winter,No Holiday,Yes,12,No
2,2017-12-01,173,2,-6.0,39,1.0,2000,-17.7,0.00,0.0,0.0,Winter,No Holiday,Yes,12,No
3,2017-12-01,107,3,-6.2,40,0.9,2000,-17.6,0.00,0.0,0.0,Winter,No Holiday,Yes,12,No
4,2017-12-01,78,4,-6.0,36,2.3,2000,-18.6,0.00,0.0,0.0,Winter,No Holiday,Yes,12,No
5,2017-12-01,100,5,-6.4,37,1.5,2000,-18.7,0.00,0.0,0.0,Winter,No Holiday,Yes,12,No
6,2017-12-01,181,6,-6.6,35,1.3,2000,-19.5,0.00,0.0,0.0,Winter,No Holiday,Yes,12,No
7,2017-12-01,460,7,-7.4,38,0.9,2000,-19.3,0.00,0.0,0.0,Winter,No Holiday,Yes,12,No
8,2017-12-01,930,8,-7.6,37,1.1,2000,-19.8,0.01,0.0,0.0,Winter,No Holiday,Yes,12,No
9,2017-12-01,490,9,-6.5,27,0.5,1928,-22.4,0.23,0.0,0.0,Winter,No Holiday,Yes,12,No

In [36]:
# EDA for the rental bike dataset

# Print the shape
print(data.shape)

# Print the info
print(data.info())

# Print the names of the columns
print(data.columns)

(8760, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       8760 non-null   datetime64[ns]
 1   Rented Bike Count          8760 non-null   int64
 2   Hour                       8760 non-null   int64
 3   Temperature(°C)            8760 non-null   float64
 4   Humidity(%)                8760 non-null   int64
 5   Wind speed (m/s)           8760 non-null   float64
 6   Visibility (10m)           8760 non-null   int64
 7   Dew point temperature(°C)  8760 non-null   float64
 8   Solar Radiation (MJ/m2)    8760 non-null   float64
 9   Rainfall(mm)               8760 non-null   float64
 10  Snowfall (cm)              8760 non-null   float64
 11  Seasons                    8760 non-null   object
 12  Holiday                    8760 non-null   object
 13  Functioning Day            8760 non-null   object
 14  Month                      8760 non-null   int32
 15  Weekend                    8760 non-null   object
dtypes: datetime64[ns](1), float64(6), int32(1), int64(4), object(4)
memory usage: 1.0+ MB
None
Index(['Date', 'Rented Bike Count', 'Hour', 'Temperature(°C)', 'Humidity(%)',
       'Wind speed (m/s)', 'Visibility (10m)', 'Dew point temperature(°C)',
       'Solar Radiation (MJ/m2)', 'Rainfall(mm)', 'Snowfall (cm)', 'Seasons',
       'Holiday', 'Functioning Day', 'Month', 'Weekend'],
      dtype='object')

In [37]:
# Obtaining the extreme quantitative values in the data, 

# Extract maximum and minimum Rented Bike Count
max_rented_bike_count = data['Rented Bike Count'].max()
print(f'maximum bikes rented: {max_rented_bike_count}')
min_rented_bike_count = data['Rented Bike Count'].min()
print(f'minimum bikes rented: {min_rented_bike_count}')

# Extract highest and lowest temperature
highest_temperature = data['Temperature(°C)'].max()
print(f'highest temperature: {highest_temperature}')
lowest_temperature = data['Temperature(°C)'].min()
print(f'lowest temperature: {lowest_temperature}')

# Extract highest and lowest humidity
highest_humidity = data['Humidity(%)'].max()
print(f'highest humidity: {highest_humidity}')
lowest_humidity = data['Humidity(%)'].min()
print(f'lowest humidit: {lowest_humidity}')

# Extract maximum and minimum wind speed
max_wind_speed = data['Wind speed (m/s)'].max()
print(f'maximum wind speed: {max_wind_speed}')
min_wind_speed = data['Wind speed (m/s)'].min()
print(f'minimum wind speed: {min_wind_speed}')

# Extract maximum and minimum visibility
max_visibility = data['Visibility (10m)'].max()
print(f'maximum visibility: {max_visibility}')
min_visibility = data['Visibility (10m)'].min()
print(f'minimum visibility: {min_visibility}')

# Extract highest and lowest dew point temperature
highest_dew_point_temperature = data['Dew point temperature(°C)'].max()
print(f'highest dew point temperature: {highest_dew_point_temperature}')
lowest_dew_point_temperature = data['Dew point temperature(°C)'].min()
print(f'lowest dew point temperature: {lowest_dew_point_temperature}')

# Extract maximum and minimum solar radiation
max_solar_radiation = data['Solar Radiation (MJ/m2)'].max()
print(f'maximum solar radiation: {max_solar_radiation}')
min_solar_radiation = data['Solar Radiation (MJ/m2)'].min()
print(f'minimum solar radiation: {min_solar_radiation}')

# Extract maximum and minimum rainfall
max_rainfall = data['Rainfall(mm)'].max()
print(f'maximum rainfall: {max_rainfall}')
min_rainfall = data['Rainfall(mm)'].min()
print(f'minimum rainfall: {min_rainfall}')

# Extract maximum and minimum snowfall
max_snowfall = data['Snowfall (cm)'].max()
print(f'maximum snowfall: {max_snowfall}')
min_snowfall = data['Snowfall (cm)'].min()
print(f'minimum snowfall: {min_snowfall}')

maximum bikes rented: 3556
minimum bikes rented: 0
highest temperature: 39.4
lowest temperature: -17.8
highest humidity: 98
lowest humidit: 0
maximum wind speed: 7.4
minimum wind speed: 0.0
maximum visibility: 2000
minimum visibility: 27
highest dew point temperature: 27.2
lowest dew point temperature: -30.6
maximum solar radiation: 3.52
minimum solar radiation: 0.0
maximum rainfall: 35.0
minimum rainfall: 0.0
maximum snowfall: 8.8
minimum snowfall: 0.0

In [38]:
# Create data abstraction for Seoul Bike Rental Dataset in the form of csv table

url = 'https://raw.githubusercontent.com/yuwangy/Seoul_bike_rental_viz/main/Seoul%20Bike%20Rental%20Data%20Abstraction.csv'
data_abstraction = pd.read_csv(url)
data_abstraction

,Unnamed: 0,Semantics,Attribute Type,Cardinality
0,Date,The specific day of the month of the year,Temporal,01-12-2017 to 30-11-2018
1,Rented Bike Count,The specific number of bikes rented in given hour,Quantitative,0 - 3556 bikes rented
2,Hour,The specific hour of the day ...,Ordinal,24
3,Temperature (°C),The temperature in given hour,Quantitative,-17.8 - 39.4 °C
4,Humidity (%),The humidity in given hour,Quantitative,0 - 98 % humidity
5,Wind speed (m/s),The wind speed in given hour,Quantitative,0 - 7.4 m/s wind speed
6,Visibility (10m),The visibility (how far you can see clearly) i...,Quantitative,27 - 2000 (10m) visibility
7,Dew point temperature (°C),The dew point temperature in given hour,Quantitative,-30.6 - 27.2 °C dew point temperature
8,Solar Radiation (MJ/m2),The amount of solar radiation in given hour,Quantitative,0 - 3.52 (MJ/m2)
9,Rainfall (mm),The amount of rain in given hour,Quantitative,0 - 35 (mm)
10,Snowfall (cm),The amount of snow in given hour,Quantitative,0 - 8.8 (cm)
11,Seasons,The specific season of the year,Nominal,4
12,Holiday,Is today a holiday or not,Nominal,2
13,Functioning Day,Is today a functioning day or not,Nominal,2
14,Month,The specific month of the year,Ordinal,12
15,Weekend,Is today on a weekend or not,Nominal,2

In [39]:
# Statistical summaries for numerical attributes (central tendency measures)

data.describe()

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Month
count,8760,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000
mean,2018-05-31 23:59:59.999999744,704.602055,11.500000,12.882922,58.226256,1.724909,1436.825799,4.073813,0.569111,0.148687,0.075068,6.526027
min,2017-12-01 00:00:00,0.000000,0.000000,-17.800000,0.000000,0.000000,27.000000,-30.600000,0.000000,0.000000,0.000000,1.000000
25%,2018-03-02 00:00:00,191.000000,5.750000,3.500000,42.000000,0.900000,940.000000,-4.700000,0.000000,0.000000,0.000000,4.000000
50%,2018-06-01 00:00:00,504.500000,11.500000,13.700000,57.000000,1.500000,1698.000000,5.100000,0.010000,0.000000,0.000000,7.000000
75%,2018-08-31 00:00:00,1065.250000,17.250000,22.500000,74.000000,2.300000,2000.000000,14.800000,0.930000,0.000000,0.000000,10.000000
max,2018-11-30 00:00:00,3556.000000,23.000000,39.400000,98.000000,7.400000,2000.000000,27.200000,3.520000,35.000000,8.800000,12.000000
std,NaN,644.997468,6.922582,11.944825,20.362413,1.036300,608.298712,13.060369,0.868746,1.128193,0.436746,3.448048

In [40]:
# Obtain frequency table of all attributes

print(data['Date'].value_counts())
print(data['Rented Bike Count'].value_counts())
print(data['Hour'].value_counts())
print(data['Temperature(°C)'].value_counts())
print(data['Humidity(%)'].value_counts())
print(data['Wind speed (m/s)'].value_counts())
print(data['Visibility (10m)'].value_counts())
print(data['Dew point temperature(°C)'].value_counts())
print(data['Solar Radiation (MJ/m2)'].value_counts())
print(data['Rainfall(mm)'].value_counts())
print(data['Snowfall (cm)'].value_counts())
print(data['Seasons'].value_counts())
print(data['Holiday'].value_counts())
print(data['Functioning Day'].value_counts())
print(data['Month'].value_counts())
print(data['Weekend'].value_counts())

Date
2018-11-30    24
2017-12-01    24
2017-12-02    24
2017-12-03    24
2017-12-04    24
              ..
2017-12-17    24
2017-12-18    24
2017-12-19    24
2017-12-20    24
2017-12-21    24
Name: count, Length: 365, dtype: int64
Rented Bike Count
0       295
122      19
223      19
262      19
189      18
       ...
2159      1
1692      1
894       1
793       1
1304      1
Name: count, Length: 2166, dtype: int64
Hour
0     365
1     365
2     365
3     365
4     365
5     365
6     365
7     365
8     365
9     365
10    365
11    365
12    365
13    365
14    365
15    365
16    365
17    365
18    365
19    365
20    365
21    365
22    365
23    365
Name: count, dtype: int64
Temperature(°C)
 19.1    40
 20.5    40
 23.4    39
 20.7    38
 7.6     38
         ..
-17.4     1
-13.5     1
-13.6     1
-13.9     1
 36.9     1
Name: count, Length: 546, dtype: int64
Humidity(%)
97    173
53    173
43    164
57    159
56    157
     ...
19     11
13      3
12      1
10      1
11      1
Name: count, Length: 90, dtype: int64
Wind speed (m/s)
1.1    420
1.2    403
1.0    388
0.9    388
0.8    385
      ...
7.4      1
6.9      1
6.1      1
6.7      1
5.7      1
Name: count, Length: 65, dtype: int64
Visibility (10m)
2000    2245
1995      34
1989      28
1985      28
1999      28
        ...
1579       1
1116       1
1198       1
757        1
285        1
Name: count, Length: 1789, dtype: int64
Dew point temperature(°C)
 0.0     60
 21.1    43
 14.3    40
 21.2    40
 8.9     39
         ..
-29.2     1
-27.8     1
-26.8     1
 26.3     1
 25.9     1
Name: count, Length: 556, dtype: int64
Solar Radiation (MJ/m2)
0.00    4300
0.01     128
0.02      82
0.03      69
0.06      61
        ...
3.49       1
2.97       1
3.35       1
3.38       1
3.45       1
Name: count, Length: 345, dtype: int64
Rainfall(mm)
0.0     8232
0.5      116
1.0       66
1.5       56
0.1       46
        ...
15.5       1
21.0       1
1.2        1
9.1        1
1.8        1
Name: count, Length: 61, dtype: int64
Snowfall (cm)
0.0    8317
0.3      42
1.0      39
0.5      34
0.9      34
0.7      31
0.8      22
2.0      22
0.4      21
1.6      19
2.2      18
0.2      15
0.6      15
3.5      14
2.6      12
2.5      10
1.2       8
2.7       6
1.8       5
3.0       5
1.3       4
3.2       4
4.1       4
4.0       4
2.1       3
1.1       3
2.3       3
3.3       3
3.8       3
3.7       3
2.4       3
1.7       3
1.9       3
0.1       2
3.9       2
2.9       2
1.4       2
4.3       2
5.0       2
8.8       2
2.8       2
4.8       2
3.4       2
3.1       1
4.2       1
5.1       1
1.5       1
7.1       1
7.0       1
6.0       1
3.6       1
Name: count, dtype: int64
Seasons
Spring    2208
Summer    2208
Autumn    2184
Winter    2160
Name: count, dtype: int64
Holiday
No Holiday    8328
Holiday        432
Name: count, dtype: int64
Functioning Day
Yes    8465
No      295
Name: count, dtype: int64
Month
12    744
1     744
3     744
5     744
10    744
7     744
8     744
6     720
9     720
4     720
11    720
2     672
Name: count, dtype: int64
Weekend
No     6264
Yes    2496
Name: count, dtype: int64